/*------------common styles or utilities Start -----------*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: white;
}

/*------------common styles or utilities End -----------*/

/*------------Style is starting on Header Section----------*/

/* Menu */

.header-section {
  width: 100%;
  height: 677px;
  background: #a59ffa;
}

.menu {
  padding-top: 52px;
}

.menu__items {
  display: flex;
  justify-content: space-between;
}

.menu__items__list ul {
  display: inline-flex;
  list-style: none;
  margin-left: 120px;
}

.menu__items__list ul li {
  margin-right: 36px;
  margin-top: 10px;
}

.menu__items__list ul li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: white;
}

.menu__items__login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 123px;
  height: 44px;
}

.btn--motion {
  background: radial-gradient(100% 100% at 100% 0%, #5adaff 0%, #5468ff 100%);
  box-shadow: 0px 2px 4px rgb(45 35 66 / 40%),
    0px 7px 13px -3px rgb(45 35 66 / 30%),
    inset 0px -3px 0px rgb(58 65 111 / 50%);
  transition: transform 0.1s ease-in;
  margin-right: 120px;
}

.menu__items__login a {
  font-size: 16px;
  font-weight: 500;
  text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
  color: white;
}

.menu__items__login i {
  margin-right: 8px;
}

/* Button Hover */

.btn--motion:hover {
  background: radial-gradient(80% 80% at 80% 0%, #5adbffea 0%, #6879ff 100%);
  box-shadow: 0px 2px 4px rgb(45 35 66 / 40%),
    0px 7px 13px -3px rgb(45 35 66 / 30%),
    inset 0px -3px 0px rgb(58 65 111 / 50%);
  transform: translateY(-2px);
  text-decoration: block;
}

.btn--motion:hover .fa-arrow-right {
  transform: translate(10px);
  transition: transform 0.3s ease-in;
}

.btn--motion:hover a {
  text-decoration: underline;
  color: #rgb(212, 209, 250);
}

/*------------Style is starting on Cover Section----------*/

.cover__items {
  display: flex;
  justify-content: space-around;
}

.cover__items__cover-title h1 {
  font-size: 64px;
  font-weight: 700;
  color: white;
  margin-top: 120px;
  text-transform: lowercase;
}

.btn {
  width: 168px;
  height: 44px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  margin-top: 27px;
}

.btn a {
  text-decoration: none;
  color: white;
}

.btn i {
  margin-left: 8px;
}

.cover__items__cover-photo img {
  width: 560px;
  margin-top: 50px;
}

/*------------Style is starting on Main Section----------*/

/* Top Players */

.top-players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 27px 30px;
  /* grid-row-gap: 27px; */
  justify-items: center;
  margin-left: 180px;
  margin-right: 180px;
  margin-top: 70px;
}

.top-players__top-player {
  width: 330px;
  height: 474px;
  padding: 15px;
  background: #ffffff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.top-player__photo img {
  width: 300px;
}

.top-player__name {
  font-size: 28px;
  font-weight: 700;
  line-height: 40px;
}

.top-player__bio {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

/* Style is starting on Highlights section */
.highlights__items {
  display: flex;
  justify-content: space-evenly;
  margin-top: 165px;
  margin-bottom: 165px;
}

.highlights-text {
  width: 470px;
  height: 310px;
  margin-top: 27px;
}

.highlights-text__title {
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
}

.highlights-text__description {
  font-size: 16px;
  line-height: 28px;
}

.highlights__cover__photo img {
  width: 567px;
}

/*-------------- Style is staring on extra sections---------------- */
/* World ranking */

.world-rankings {
  background-color: #a59ffa;
  color: white;
  padding: 40px;
}
.about-rankings {
  display: flex;
  justify-content: space-around;
  flex-grow: 2;
}

.text-section {
  width: 380px;
  height: 180px;
  margin-top: 100px;
}

.title-text {
  font-size: 40px;
  font-weight: 500;
}

.gender {
  font-size: 26px;
  margin-bottom: 30px;
}

.ranking-block {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 10px;
}

.line {
  border-top: 1px solid rgb(194, 192, 192);
  margin-top: 24px;
}

.ranking-list {
  /* width: 520px; */
  display: flex;
  align-items: center;
}

.list-title {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 30px;
  color: #746ce6;
}

.list-title .team {
  margin-left: -120px;
}

.rank-position {
  margin-right: 50px;
  font-size: 20px;
}

.rank-country {
  display: flex;
  align-items: center;
  margin-right: 70px;
}

.rank-country h4 {
  margin-left: 18px;
}

.rank-points {
  font-size: 18px;
}

/* Ranking List Hover Action */

.ranking-list:hover {
  transform: translate(10px);
  transition: transform 0.8 ease-in;
}

/* Style is starting on Footer Section */

footer {
  text-align: center;
  margin-top: 160px;
  margin-bottom: 60px;
}

.logo img {
  width: 400px;
}

.social i {
  font-size: 32px;
  color: #a59ffa;
}

.copy-right {
  font-size: 18px;
  margin-top: 20px;
  color: #2d25a0;
}

/*----------------- Responsive Design ----------------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  .header-section {
    height: 100%;
  }

  .menu__items {
    display: none;
  }

  .cover__items {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cover__items__cover-title h1 {
    text-align: center;
    font-size: 40px;
    /* margin-left: 180px; */
  }

  .cover__items__cover-photo img {
    width: 400px;
    margin-left: 180px;
  }

  .btn {
    margin-left: 300px;
  }

  .world-rankings {
    text-align: center;
  }

  .about-rankings {
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .header-section {
    height: 100%;
  }

  .menu__items {
    display: none;
  }

  .cover__items {
    flex-direction: column;
    align-items: center;
  }

  .cover__items__cover-title h1 {
    text-align: center;
    font-size: 2rem;
    margin-right: 30px;
  }

  .cover__items__cover-photo img {
    width: 87%;
  }
  .cover__items__cover-title .btn {
    margin-left: 100px;
  }
  .top-players {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    margin-left: 0px;
    margin-right: 40px;
  }

  .highlights__items {
    flex-direction: column;
    align-items: center;
    margin-bottom: -7px;
  }

  .highlights-text {
    width: 80%;
    height: 100%;
  }

  .highlights__cover__photo img {
    width: 100%;
  }

  .highlights-text .btn {
    margin-left: 40px;
    margin-bottom: 40px;
  }

  .text-section {
    width: 88%;
    height: 100%;
    margin-top: 10px;
  }

  .world-rankings {
    text-align: center;
  }

  .about-rankings {
    flex-direction: column;
    justify-content: center;
  }

  footer {
    text-align: center;
    margin-top: 75px;
    margin-right: 10%;
  }

  .logo img {
    width: 50%;
  }

  .social {
    font-size: 15px;
  }
}
